/// Button class

.button {
    background-color: $yellow;
    border-radius: 28px;
    border: 1px solid #cc8f00;
    display: inline-block;
    cursor: pointer;
    color: $blue1;
    font-family: $font-family;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    &:hover {
        background-color: #ffaf40;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}
