/// Button class

.button {
    background-color: $yellow;
    border-radius: 28px;
    border: 1px solid #cc8f00;
    display: inline-block;
    cursor: pointer;
    color: $blue1;
    font-family: $font-family;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    &:hover {
        background-color: #ffaf40;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

.thin-button {
    background-color: $white;
    border-radius: 7px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: $blue1;
    font-family: $font-family;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    letter-spacing: 2.5px;
    &:active {
        background-color: $blue1;
        color: $white;
        position: relative;
        top: 1px;
    }
    &:hover {
        background-color: $blue2;
        box-shadow: 0px 15px 20px rgba(0, 64, 184, 0.4);
        color: $white;
    }
}
