/// Navigation Bar
/// Should be displayed on all pages, except scanner and check out
div[id="navbar"] {
    overflow: hidden;
    background-color: $blue1;
    a {
        float: left;
        display: block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        &:hover {
            color: $yellow;
        }
        &.active {
            background-color: $yellow;
            color: $blue2;
        }
    }

    .icon {
        display: none;
    }
}
